VITE_CCTV_API_URL=/cctv-api
VITE_CCTV_API_BASE_URL=http://localhost:8080
VITE_STREAM_BASE=https://stream.karnics.com
VITE_ATTENDANCE_API_URL=/api/v1/employee-attendances/daily
VITE_API_BASE_URL=http://localhost:8106
VITE_STP_REALTIME_URL=http://localhost:8080/api/v1/stp/68mldjag/realtime
VITE_STP_14MLD_REALTIME_URL=http://localhost:8080/api/v1/stp/14mldsarai/realtime
VITE_STP_API_BASE_URL=http://localhost:8080
VITE_STP_14MLD_CAMERA_1=https://stp14mldkpi5-1.tail72c450.ts.net/camera1/
VITE_STP_14MLD_CAMERA_2=https://stp14mldkpi5-1.tail72c450.ts.net/camera2/
